h1 #{testdata.project}
h2 Enter data
each data in testdata.data
	p #{data.name} #{data.value}
form(method="POST" action="#{testdata._id}/add")
	input(type="text" name="name")
	input(type="number" step="any" name="value")
	input(type="submit")
a(href="#{testdata._id}/graph")
	button Go
